@model WebSiteVozesUnidas.Models.Noticia

@{
    ViewData["Title"] = "Details";
    ViewData["Id"] = Model.IdNoticia;
    if (ViewBag.UserTipo is null)
    {
        ViewBag.UserTipo = TipoUsuario.PessoaFisica;
    }
    if (ViewBag.UserId is null)
    {
        ViewBag.UserId = 0;
    }
}

<h1 class="d-flex justify-content-center my-4">@Html.DisplayFor(model => model.Titulo)</h1>
<div class="d-flex justify-content-center">
    <img src="~/img/@Html.DisplayFor(model => model.Imagem)" alt="Imagem da Notícia"  class="col-10" style="max-height:400px;"/>
</div>
@if (ViewBag.AutorId.ToString() == ViewBag.UserId.ToString() || ViewBag.UserTipo == TipoUsuario.ADM)
{
    <div>

        <p>
            <a asp-action="Edit" asp-route-id="@ViewData["Id"]">Edit</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@ViewData["Id"]">Apagar</a>
        </p>

    </div>

}

        <div class="justify-content-center d-flex my-5 col-12">
            <div class="col-10">
                @Html.Raw(Model.Conteudo.Replace("\n", "<br />"))
            </div>
        </div>
        
        <div>
            <div class="fw-bold my-1">
                Publicado em: @Html.DisplayFor(model => model.Publicacao)
            </div>
            <div class="fw-bold my-1">
                 Autor: @ViewData["Autor"]
            </div>

        </div>
        

