@* @model WebSiteVozesUnidas.Models.Noticia

@{
    ViewData["Title"] = "Notícia";
    if (ViewBag.UserTipo is null)
    {
        ViewBag.UserTipo = TipoUsuario.PessoaFisica;
    }
    
    if (ViewBag.AutorId is null)
    {
        ViewBag.AutorId = 0;
    }
}

<h1 class="d-flex justify-content-center my-4">@Html.DisplayFor(model => model.Titulo)</h1>

<div class="d-flex justify-content-center col-12">
    <div class="d-flex justify-content-center col-3">

        <img src="~/img/@Html.DisplayFor(model => model.Imagem)" alt="Imagem da Notícia"  class="col-12"/>

    </div>
</div>

<div>
    <div class="fw-bold my-1">
        Publicado em: @Html.DisplayFor(model => model.Publicacao)
    </div>
    <div class="fw-bold my-1">
        Autor: @ViewData["Autor"]
    </div>

</div>

<div class="justify-content-center d-flex my-5 col-12">
    <div class="col-10">
        @Html.Raw(Model.Conteudo.Replace("\n", "<br />"))
    </div>
</div>


@if (ViewBag.AutorId.ToString() == ViewBag.UserId.ToString() || ViewBag.UserTipo == TipoUsuario.ADM)
{
    <div class="d-flex justify-content-between my-3">

        <a asp-action="Edit" asp-route-id="@ViewData["Id"]" class="btn px-5 d-flex align-items-center justify-content-center" style="background-color:#6CAD55;border-radius:0px 25px 25px 0px;"><img src="~/img/edit.png" class="mh-50 h-50 mx-3" /></a>
        <a data-bs-toggle="modal" data-bs-target="#ModalTrash" class="btn px-5 d-flex align-items-center justify-content-center" style="background-color:#C0245F;border-radius:25px 0px 0px 25px;"><img src="~/img/trash 2.png" class="mh-50 h-50 mx-3" /></a>
    </div>

}




 *@

@model WebSiteVozesUnidas.Models.Noticia

@{
    ViewData["Title"] = "Notícia";
    ViewData["Id"] = Model.IdNoticia;
    if (ViewData["Autor"] is null)
    {
        ViewData["Autor"] = "Anônimo";
    }
    if (ViewBag.UserId is null)
    {
        ViewBag.UserId = 0;
    }
}

<div class="d-flex flex-column align-items-center">

    <h1 class="d-flex justify-content-center my-4">@Html.DisplayFor(model => model.Titulo)</h1>

    <div class="col-12 col-sm-6">

        <div class="d-flex justify-content-center align-content-center align-items-center col-12 noticia-img">
            <img src="~/img/@Html.DisplayFor(model => model.Imagem)" class="img-fluid custom-img" />
        </div>

        <div class="d-flex justify-content-between mt-1">
            <span class="text-secondary">Por: @ViewData["Autor"]</span>
            <span class="text-secondary">Horario: @Html.DisplayFor(model => model.Publicacao)</span>
        </div>
        @if (ViewBag.AutorId.ToString() == ViewBag.UserId.ToString() || User.IsInRole("ADM"))
        {
            <div class="d-flex justify-content-between my-3">

                <a asp-action="Edit" asp-route-id="@ViewData["Id"]" class="btn px-5 d-flex align-items-center justify-content-center" style="background-color:#6CAD55;border-radius:0px 25px 25px 0px;"><img src="~/img/edit.png" class="mh-50 h-50 mx-3" /></a>
                <a data-bs-toggle="modal" data-bs-target="#ModalTrash" class="btn px-5 d-flex align-items-center justify-content-center" style="background-color:#C0245F;border-radius:25px 0px 0px 25px;"><img src="~/img/trash 2.png" class="mh-50 h-50 mx-3" /></a>
            </div>

        }
        <div class="d-flex mt-5">

            <span>@Html.Raw(Model.Conteudo.Replace("\n", "<br />"))</span>

        </div>


        <div class="mt-5 d-flex flex-column fundo-cheio-2">

            <hr />

            <h2 class="mb-4">Leia também:</h2>

            <ul>
                @foreach (var item in ViewBag.vejaMais)
                {
                    <li class="mb-3">
                        <a asp-action="Details" asp-controller="Noticias" asp-route-id="@item.IdNoticia" class="ms-2 text-danger fs-3 h3" style="">@item.Titulo</a>
                    </li>
                }
            </ul>

            <hr />

        </div>

        <div class="mt-5">
            <h2>Veja notícias</h2>

            @foreach (var item in ViewBag.noticias)
            {
                    <a asp-action="Details" asp-controller="Noticias" asp-route-id="@item.IdNoticia" class="d-flex my-5 text-black">

                        <div class="d-flex flex-column col-5">
                            <img src="~/img/@(string.IsNullOrEmpty(item.Imagem) ? "noImgFound.jpg" : item.Imagem)" class="rounded border border-dark" height="180px" />
                        </div>

                        <div class="d-flex flex-column col ms-3">

                            <h4>@item.Titulo</h4>
                            <p>@item.SubTitulo</p>

                        </div>
                    </a>


                <hr />
            }

        </div>

    </div>
</div>
<div class="modal fade" id="ModalTrash" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center border-0">
                <h5 class="modal-title text-center volt px-5 py-1 fs">Apagar</h5>
            </div>
            <div class="modal-body text-center border-0">
                <p class="text-dark fs-3 fst-normal alert-danger">Tem certeza que deseja apagar os dados dessa notícia?</p>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center border-0 w-100">
                <form asp-action="Delete" asp-route-id="@ViewData["Id"]" class="d-flex flex-column justify-content-center align-items-center w-100">
                    <input type="hidden" asp-for="@ViewData["Id"]" />
                    <input type="text" name="name" placeholder="Digite 'Quero Apagar' para apagar a notícia" class="form-control border-1 border-dark w-100 my-2" />
                    <p class="h1" style="color:red;">@ViewBag.erro</p>
                    <button type="submit" class="btn btn-danger apag text-white w-25 my-2">Deletar</button>
                </form>
                <button data-bs-dismiss="modal" class="btn volt2 w-25 my-2">Cancelar</button>

            </div>
        </div>
    </div>
</div>

<style>
    body{
        background-color: #f9f9f9;
    }

    .fundo-cheio-2 {
        background-color: #f3f3f3;
        box-shadow: 0 0 0 100vmax #f3f3f3;
        clip-path: inset(0-100vmax);
    }

    .noticia-img{
        background-image: url('/img/noticaFundo.jpg');
        border: 1px solid;
        border-radius:10px;
        border-color: black;
    }

    .custom-img {
        height: 360px; /* Defina a altura desejada */
        width: 100%;
        object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço disponível sem distorção */

        border-radius: 10px;
    }
</style>