@model IEnumerable<WebSiteVozesUnidas.Models.Post>

@{
    ViewData["Title"] = "Fórum";
    ViewData["Color"] = "bg-secondary";
    ViewData["Controller"] = "Posts";
}

<div class="col-12 d-flex">
    <div class="col-10">
        <div class="me-3">
            <a asp-action="Create" class="text-decoration-none text-black btn w-100 py-3 border-1 border-dark" style="font-size:20px;">Adicionar novo post</a>
        </div>
        @foreach (var item in Model)
        {

            @if (item.Imagem != null)
            {
                <a asp-action="Details" asp-route-id="@item.IdPost" class="text-decoration-none text-black">
                    <div class="d-flex p-2 border border-1 border-dark border pe-4 my-5 me-3" style="border-radius:5px">
                        <div class="d-flex flex-column col-6 me-2">
                            <p>
                                @item.Titulo
                            </p>
                            <p>
                                @item.SubTituloResumo
                            </p>
                        </div>
                        <div class="col-6 ms-2 d-flex justify-content-center bg-light">
                            <img src="~/img/@item.Imagem" alt="Imagem do Post" class="align-self-center mw-100" style="max-height:250px" />
                        </div>
                    </div>
                </a>
                
                
            }
            else
            {
                <a asp-action="Details" asp-route-id="@item.IdPost" class="text-decoration-none text-black">
                    <div class="d-flex w-auto flex-column border col-12 p-2 border-1 border-dark my-5 me-3">
                        <p>
                            @item.Titulo
                        </p>
                        <p>
                            @item.SubTituloResumo
                        </p>
                    </div>
                </a>
                
            }



        }

        @if (Model.Count() == 0)
        {
            <div class="card col p-3 border justify-content-center text-black text-decoration-none me-3 my-5">

                <div class="d-flex col-12 justify-content-center">


                    <div class="card-body col-12 p-0 d-flex flex-column justify-content-center">

                        <h3 class="card-title text-center text-uppercase fw-light">Nenhum post feito ainda, seja o primeiro!</h3>


                    </div>
                </div>

            </div>
        }

    </div>
    <div class="col-2 border border-1 border-dark px-4 w-auto" style="border-radius:5px; height:378px">
        <div>
            <h2 class="text-black fw-bold fst-italic py-2 d-flex justify-content-center">
                Categorias
            </h2>
            <div>
                <a asp-action="Index" asp-route-id="@null" class="text-decoration-none text-black fw-bold">Limpar Filtro</a>
            </div>
            @foreach (var item in ViewBag.Categorias)
            {
                <div>
                    <a asp-action="Index" asp-route-id="@item.IdCategoriaPost" class="text-decoration-none text-black">@item.Nome</a>
                </div>
            }
        </div>
    </div>
</div>


