@* @model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
    // Convertendo o ViewData para o tipo correto
    var lista = ViewData["lista"] as List<WebSiteVozesUnidas.Models.CategoriaMaterials>;
}

<p>
    @if (User.IsInRole("ADM"))
    {
        <button type="submit" value="Criar" style="margin-bottom:10px; border-radius:10px; border: solid; border-width: 1px; background-color:#FFFFFF; width:250px; height:40px; margin:10px">
            <a asp-action="Create" style="text-decoration:none; color:black">Criar Novo</a>
        </button>
    }

</p>

<div style="max-width: 1000px; margin: 0 auto; margin-bottom: 40px; margin-top: 20px">
    <ul class="nav nav-underline" style="display: flex; justify-content:space-around; border: solid; border-width: 1px; border-radius: 50px; padding: 0; list-style: none;">
        @foreach (var categoria in lista)
        {
            <li class="nav-item p-2" style="display: flex; justify-content: center; align-items: center;">
                <button class="tablink btn text-black" onclick="trocarElementos('@categoria.Categoria', this, 'cor')">
                    <h4 style="margin: 0;">@categoria.Categoria</h4>
                </button>
            </li>
        }
    </ul>
</div>

<div id="Livros" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Livros"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;"/>

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor:default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Vídeos" class="tabcontent" >
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Vídeos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                        <a href="@Html.DisplayFor(modelItem => item.LinkYoutube)" style="background-color:lightgray; border-radius:10px; text-decoration: none; color:inherit;" target="_blank">https://www.youtube.com/watch?v=rNoC8zDc408</a>
                    </div>
                </div>
            </a>
        }
        else
        {
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            
        }
    }
</div>

<div id="Artigos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Artigos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Direitos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Direitos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_scriptPartial" />
}
<script src="~/js/site.js"></script>


 *@


 @model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
}

@if (User.IsInRole("ADM"))
{
    <button type="submit" value="Criar" style="margin-bottom:10px; border-radius:10px; border: solid; border-width: 1px; background-color:#FFFFFF; width:250px; height:40px; margin:10px">
        <a asp-action="Create" style="text-decoration:none; color:black">Criar Novo</a>
    </button>
}

<div class="d-flex my-5">
    <ul class="d-flex nav nav-underline justify-content-between border border-1 rounded-pill border-dark p-0 list-unstyled col-12 bg-white">
        @foreach (var item in ViewBag.categorias)
        {
            <li class="nav-item p-2 d-flex justify-content-center align-items-center">
                <a asp-action="Index" asp-route-categoriaFiltro="@item.Categoria" class="tablink btn text-black">
                    <h4 style="margin: 0;">@item.Categoria</h4>
                </a>
            </li>
        }
    </ul>
</div>

<div class="d-flex flex-wrap">

    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-controller="MaterialDidatico" asp-route-id="@item.IdMaterialDidatico" class="card col-12 p-3 border mb-3 text-black text-decoration-none">

            <div class="d-flex">
                <div class="col-4 align-content-center">
                    <img src="~/img/@item.ImgMaterial" class="col-12" height="250px" />
                </div>


                <div class="card-body col-7 p-0 ms-3 d-flex flex-column justify-content-between">
                    <div>
                        <h3 class="card-title">@item.Titulo</h3>
                        <p class="card-text">@(item.Descricao.Length > 770 ? item.Descricao.Substring(0, 770) + "..." : item.Descricao)</p>
                    </div>
                    @if (!string.IsNullOrEmpty(item.LinkYoutube))
                    {
                        <div>
                            <p class="mb-0">
                                <span class="fw-bold text-secondary">
                                    Link:
                                </span>
                                <span>
                                    @item.LinkYoutube
                                </span>
                            </p>
                        </div>
                    }
                </div>
            </div>

        </a>
    }

    @if (Model.Count() == 0)
    {
        <div class="card col-12 p-3 border text-black text-decoration-none my-5">

            <div class="d-flex justify-content-center">


                <div class="card-body col-12 p-0 ms-3 d-flex flex-column justify-content-center">

                        <h3 class="card-title text-center">Nenhum item para essa categoria, tente outra!</h3>
 
                    
                </div>
            </div>

        </div>
    }

</div>