@model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
    // Convertendo o ViewData para o tipo correto
    var lista = ViewData["lista"] as List<WebSiteVozesUnidas.Models.CategoriaMaterials>;
}

<p>
    @if (User.IsInRole("ADM"))
    {
        <button type="submit" value="Criar" style="margin-bottom:10px; border-radius:10px; border: solid; border-width: 1px; background-color:#FFFFFF; width:250px; height:40px; margin:10px">
            <a asp-action="Create" style="text-decoration:none; color:black">Criar Novo</a>
        </button>
    }

</p>

<div style="max-width: 1000px; margin: 0 auto; margin-bottom: 40px; margin-top: 20px">
    <ul class="nav nav-underline" style="display: flex; justify-content:space-around; border: solid; border-width: 1px; border-radius: 50px; padding: 0; list-style: none;">
        @foreach (var categoria in lista)
        {
            <li class="nav-item p-2" style="display: flex; justify-content: center; align-items: center;">
                <button class="tablink btn text-black" onclick="trocarElementos('@categoria.Categoria', this, 'cor')">
                    <h4 style="margin: 0;">@categoria.Categoria</h4>
                </button>
            </li>
        }
    </ul>
</div>

<div id="Livros" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Livros"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;"/>

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor:default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Vídeos" class="tabcontent" >
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Vídeos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                        <a href="@Html.DisplayFor(modelItem => item.LinkYoutube)" style="background-color:lightgray; border-radius:10px; text-decoration: none; color:inherit;" target="_blank">https://www.youtube.com/watch?v=rNoC8zDc408</a>
                    </div>
                </div>
            </a>
        }
        else
        {
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            
        }
    }
</div>

<div id="Artigos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Artigos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Direitos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Direitos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_scriptPartial" />
}
<script src="~/js/site.js"></script>


