@* @model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
    // Convertendo o ViewData para o tipo correto
    var lista = ViewData["lista"] as List<WebSiteVozesUnidas.Models.CategoriaMaterials>;
}

<p>
    @if (User.IsInRole("ADM"))
    {
        <button type="submit" value="Criar" style="margin-bottom:10px; border-radius:10px; border: solid; border-width: 1px; background-color:#FFFFFF; width:250px; height:40px; margin:10px">
            <a asp-action="Create" style="text-decoration:none; color:black">Criar Novo</a>
        </button>
    }

</p>

<div style="max-width: 1000px; margin: 0 auto; margin-bottom: 40px; margin-top: 20px">
    <ul class="nav nav-underline" style="display: flex; justify-content:space-around; border: solid; border-width: 1px; border-radius: 50px; padding: 0; list-style: none;">
        @foreach (var categoria in lista)
        {
            <li class="nav-item p-2" style="display: flex; justify-content: center; align-items: center;">
                <button class="tablink btn text-black" onclick="trocarElementos('@categoria.Categoria', this, 'cor')">
                    <h4 style="margin: 0;">@categoria.Categoria</h4>
                </button>
            </li>
        }
    </ul>
</div>

<div id="Livros" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Livros"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;"/>

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor:default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Vídeos" class="tabcontent" >
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Vídeos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                        <a href="@Html.DisplayFor(modelItem => item.LinkYoutube)" style="background-color:lightgray; border-radius:10px; text-decoration: none; color:inherit;" target="_blank">https://www.youtube.com/watch?v=rNoC8zDc408</a>
                    </div>
                </div>
            </a>
        }
        else
        {
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer;">
                    <img src="~/img/@item.ImgMaterial" alt="Vídeo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:700px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 700px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            
        }
    }
</div>

<div id="Artigos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Artigos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

<div id="Direitos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Direitos"))
    {
        @if (User.IsInRole("ADM"))
        {
            <a href="@Url.Action("Details", new { id = item.IdMaterialDidatico })" style="text-decoration: none; color: inherit;">
                <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: pointer">
                    <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                    <div class="malala" style="margin-top: 50px; padding-left:50px">
                        <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    </div>
                </div>
            </a>
        }
        else
        {
            <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center; cursor: default">
                <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

                <div class="malala" style="margin-top: 50px; padding-left:50px">
                    <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_scriptPartial" />
}
<script src="~/js/site.js"></script>


 *@


 @model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
}

@if (User.IsInRole("ADM"))
{

    <div class="dropup-center dropup position-fixed bottom-0 end-0 m-3" style="z-index:99">

        <button class="btn btn-dark rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle mb-1 mt-2" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
        </button>
        <ul class="dropdown-menu" style="min-width: auto;">

            <li class="my-2">
                <a class="dropdown-item text-center" asp-action="Create" asp-controller="MaterialDidatico">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-book text-success" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
}

<div class="d-flex my-5">
    <ul class="d-flex nav nav-underline justify-content-between border border-1 rounded-pill border-dark p-0 list-unstyled col-12 bg-white">
        @foreach (var item in ViewBag.categorias)
        {
            <li class="nav-item p-2 d-flex justify-content-center align-items-center">
                <a asp-action="Index" asp-route-categoriaFiltro="@item.Categoria" class="tablink btn text-black">
                    <h4 style="margin: 0;">@item.Categoria</h4>
                </a>
            </li>
        }
    </ul>
</div>

<div class="d-flex flex-wrap">

    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-controller="MaterialDidatico" asp-route-id="@item.IdMaterialDidatico" class="card col-12 p-3 border mb-3 text-black text-decoration-none">

            <div class="d-flex flex-wrap">
                <div class="col-12 col-lg-4 align-content-center">
                    <img src="~/img/@item.ImgMaterial" class="col-12" style="max-height: 500px" />
                </div>


                <div class="card-body col-12 col-lg-7 p-0 ms-3 d-flex flex-column justify-content-between">
                    <div>
                        <h3 class="card-title">@item.Titulo</h3>
                        <p class="card-text">@(item.Descricao.Length > 770 ? item.Descricao.Substring(0, 770) + "..." : item.Descricao)</p>
                    </div>
                    @if (!string.IsNullOrEmpty(item.LinkYoutube))
                    {
                        <div>
                            <p class="mb-0">
                                <span class="fw-bold text-secondary">
                                    Link:
                                </span>
                                <span>
                                    @item.LinkYoutube
                                </span>
                            </p>
                        </div>
                    }
                </div>
            </div>

        </a>
    }

    @if (Model.Count() == 0)
    {
        <div class="card col-12 p-3 border text-black text-decoration-none my-5">

            <div class="d-flex justify-content-center">


                <div class="card-body col-12 p-0 ms-3 d-flex flex-column justify-content-center">

                        <h3 class="card-title text-center text-uppercase fw-light">Sem cadastro de item, volte mais tarde!</h3>
 
                    
                </div>
            </div>

        </div>
    }

</div>