@using System.Linq

@{
    ViewData["Title"] = "Home Page";

    var noticiasList = ViewBag.noticiasList;
    var empregos = ViewBag.empregos as List<VagaEmprego>;
}

<div class="d-flex justify-content-center align-items-center">

    <div class="col-7">
        <h2>Conectando Pessoas, Oportunidades e Sabedoria</h2>
        <p>
            Junte-se a nós e descubra como nossa comunidade sem fins lucrativos pode ajudar você a crescer, 
            encontrar novas oportunidades de emprego, buscar aconselhamentos valiosos, acessar materiais 
            educativos e participar de discussões enriquecedoras.
        </p>

        <button class="btn btn-outline-primary px-5  mt-3">Saiba mais</button>
       
        <p>QUADRADOS AQUI SOBRE CADA PAGINA E QUANDO CLICA DESCE PARA BAIXO NA HOME</p>

    </div>

    <div class="col-5">
        <img src="img/legal.webp" alt="Exemplo de imagem" class="w-100 h-100">
    </div>


</div>

<div class="d-flex flex-column fundo-cheio justify-content-center p-3 ">

    <h2 class="text-center text-white">Principais Noticias</h2>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
        <div class="carousel-inner">
            @for (int i = 0; i < (ViewBag.noticiasList.Count + 2) / 3; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row">
                        @for (int j = i * 3; j < (i * 3) + 3 && j < ViewBag.noticiasList.Count; j++)
                        {
                            var item = (WebSiteVozesUnidas.Models.Noticia)ViewBag.noticiasList[j];
                            <div class="col-12 col-md-4">
                                <div class="card d-flex flex-column">
                                    <img src="~/img/@item.Imagem" class="d-block w-100" alt="@item.Titulo">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">@item.Titulo</h5>
                                        <p class="card-text">@item.Resumo</p>
                                        <a href="@Url.Action("Details", "Noticias", new { id = item.IdNoticia })" class="btn btn-primary">Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> 


</div>

<div class="d-flex justify-content-evenly mt-5">

    @foreach (var item in ViewBag.especialistasList)
    {
        <div class="card col-3 rounded-3" >
            <img src="~/img/@item.ImgEspecialista" class="m-auto rounded-circle mt-3" alt="@item.Nome" width="200" height="200">
            <div class="card-body">
                <h5 class="card-title text-center">@item.Nome</h5>
                <p class="card-text text-center">
                @for (int i = 1; i <= 5; i++) // Alterado para percorrer até 5 (máximo de estrelas)
                {
                    if (i <= item.MediaEstrelas)
                    {
                        // Exibir estrela cheia
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    }
                   
                    else
                    {
                        // Exibir estrela vazia
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgray" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                    }
                }
                </p>
                <p class="card-text"><span class="fw-bold ">Email: </span>@item.Email</p>
                <p class="card-text"><span class="fw-bold">Telefone: </span>@item.Telefone</p>
                <p class="card-text"><span class="fw-bold">Especialidade: </span>@item.Especialhidade</p>

                <a href="#" class="btn btn-outline-primary  col-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5" />
                    </svg>
                </a>
            </div>
        </div>
    }

</div>


<div class="d-flex flex-column my-5">

    @foreach (var categoria in ViewBag.CategoriasComMateriais as List<CategoriaMaterials>)
    {
        <div class="d-flex col-12 mb-5">

            @* <div class="d-flex align-items-center text-rotate">
                <h2 class="categoriaMaterial bg-success ">@categoria.Categoria</h2>
            </div> *@

            <div id="carousel-@categoria.Categoria" class="carousel slide border w-100 shadow px-5">

                <div class="carousel-inner">

                    @foreach (var material in categoria.MaterialDidaticos)
                    {
                        <div class="carousel-item @(material == categoria.MaterialDidaticos.First() ? "active" : "")">
                            <div class="d-flex">
                                <img src="~/img/@material.ImgMaterial" class="col-3" height="250" alt="@material.Titulo">
                                <div class="d-flex flex-column ms-4">
                                    <h3>@material.Titulo</h3>
                                    <p>@material.Descricao</p>

                                </div>
                            </div>
                        </div>
                    }

                </div>

                <button class="carousel-control-prev ms-2" type="button" data-bs-target="#carousel-@categoria.Categoria" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next me-2" type="button" data-bs-target="#carousel-@categoria.Categoria" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    }



</div>


<div class="d-flex flex-column my-5">

    <table class="table">
        <thead>
            <tr>
                <th>
                   Vaga
                </th>
                <th>
                    Salario
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                 </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in empregos.Take(3))
            {
                <tr>
                    <td>
                        @item.Cargo
                    </td>
                    <td>
                        @item.NumeroVagas
                    </td>
                    <td>
                        @item.Requisitos
                    </td>
                    <td>
                        @item.DescricaoVaga
                    </td>
                </tr>
            }

</div>

<style>

    .fundo-cheio {
        background-color: #5DAE8B;
        box-shadow: 0 0 0 100vmax #5DAE8B;
        clip-path: inset(0-100vmax);
    }

    .cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: black;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
