@model WebSiteVozesUnidas.Models.Especialista

@{
    ViewData["Title"] = "Detalhes";
}

@* <h2 style="text-align:center; margin-top:10px">Detalhes dos Especialistas</h2>

<hr/>

<div class="cartao" style="display:flex; margin-bottom: 50px; justify-content:center; flex-direction:column">
    <div style="display:flex; justify-content:center">
        <img src="~/img/@Model.ImgEspecialista" alt="Imagem" style="max-width: 300px; height: 200px;" />
        <div class="malala" style="margin-top: 50px; padding-left:50px">
            <p style="max-width: 680px">@Html.DisplayFor(modelItem => Model.Especialhidade)</p>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:20px; max-width:1480px">
        <a data-bs-toggle="modal" data-bs-target="#ModalTrash" class="btn" style="background-color:red; width:23%; height: 40px; display: flex; align-items: center; justify-content: center; text-decoration: none; color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
        </a>
        <a asp-action="Edit" asp-route-id="@Model?.IdEspecialista" class="btn" style=" background-color:dodgerblue; width:23%; height: 40px; display: flex; align-items: center; justify-content: center; text-decoration: none; color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </svg>
        </a>
        <a asp-action="Index" class="btn" style="background-color:green; width:23%; height: 40px; display: flex; align-items: center; justify-content: center; text-decoration: none; color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
            </svg>
        </a>
    </div>

</div>


<div class="modal fade" id="ModalTrash" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center border-0">
                <p class="text-dark fs-3 fst-normal">Tem certeza que deseja apagar esse especialista?</p>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center border-0">
                <form asp-action="Delete" asp-route-id="@Model?.IdEspecialista">
                    <input type="hidden" asp-route-id="@Model?.IdEspecialista" />
                    <button type="submit" style="background-color:red" class="btn apag text-white">Deletar</button>
                </form>
                <button data-bs-dismiss="modal" class="btn volt2">Cancelar</button>
            </div>
        </div>
    </div>
</div> *@

<div class="d-flex flex-column my-5">

    <div class="d-flex">

        <div class="card col-12 text-center text-uppercase">
            <h1>@Model.Nome</h1>
        </div>

    </div>


    <div class="d-flex card flex-row">

        <div class="col-4 p-5">
            <img src="~/img/@Model.ImgEspecialista" class="col-12 border border-dark" />
        </div>

        <div class="d-flex col-8 p-5 flex-column">

            <div>

            </div>
            <div>
                <p class="mb-0 fs-6 text-secondary fw-bold">Email:</p>
                <p class="fs-4">@Model.Email</p>
                <p class="mb-0 fs-6 text-secondary fw-bold">Telefone:</p>
                <p class="fs-4">@Model.Telefone</p>
                <p class="mb-0 fs-6 text-secondary fw-bold">Especialidade:</p>
                <p class="fs-4">@Model.Especialhidade</p>
            </div>



        </div>

    </div>

    <div class="d-flex mt-5">

        <div class="card col-12 text-center text-uppercase">
            <h1>Avaliações</h1>
        </div>

    </div>


    <div class="d-flex card flex-row justify-content-evenly flex-wrap">

        @foreach (var item in ViewBag.Avaliacoes)
        {
            <div class="d-flex justify-content-center col-5">
                <div style="margin:35px">
                    <img src="~/img/@(string.IsNullOrEmpty(item.Usuario.Foto) ? "noImgFound.jpg" : item.Usuario.Foto)" style="border-radius:100px; border:solid; border-width:1px" width="100" height="100">
                </div>

                <div class="mt-4">
                    @* <h6 style="text-align:center">Especialista: @item.Especialistas.Nome</h6> *@
                    <p class="fw-bold mb-0">@item.Usuario.UserName</p>
                    <p class="">@item.Descricao</p>
                    <div class="rating">

                        @{
                            // Calculando o número de estrelas cheias, meia estrela e vazias com base na avaliação
                            //int estrelasCheias = item.Estrelas / 2;
                            //bool temMeiaEstrela = item.Estrelas % 2 != 0;
                            //int estrelasVazias = 5 - estrelasCheias - (temMeiaEstrela ? 1 : 0);
                        }

                        @for (int i = 1; i <= 5; i++) // Alterado para percorrer até 5 (máximo de estrelas)
                        {
                            if (i <= item.Estrelas)
                            {
                                // Exibir estrela cheia
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            }
                            //else if (i == estrelasCheias + 1 && temMeiaEstrela)
                            //{
                            // Exibir meia estrela
                            //<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-half" viewBox="0 0 16 16">
                            //<path d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z" />
                            //</svg>
                            //}
                            else
                            {
                                // Exibir estrela vazia
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgray" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            }
                        }
                    </div>
                </div>
                @if (item.UsuarioId.ToString() == ViewBag.UserId)
                {
                    <div class="dropdown">
                        <a class="btn dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                            </svg>
                        </a>

                        <ul class="dropdown-menu" style="border:solid; border-width:1px">
                            <li><a class="dropdown-item" asp-action="Edit" asp-controller="AvaliacaoEspecialistas" asp-route-id="@item.IdAvaliacaoEspecialhis">Editar</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalTrash" style="background-color:red; color:white; cursor:pointer">Deletar</a></li>
                        </ul>
                    </div>
                }


                <div class="modal fade" id="ModalTrash" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center border-0">
                                <p class="text-dark fs-3 fst-normal">Tem certeza que deseja apagar essa avaliação?</p>
                            </div>
                            <div class="modal-footer d-flex flex-column justify-content-center border-0">
                                <form asp-action="Delete" asp-controller="AvaliacaoEspecialistas" asp-route-id="@item.IdAvaliacaoEspecialhis" class="d-flex flex-column justify-content-center align-items-center w-100">
                                    <button type="submit" class="btn btn-danger apag text-white w-25 my-2">Deletar</button>
                                </form>
                                <button data-bs-dismiss="modal" class="btn volt2">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

        @if (ViewBag.Avaliacoes.Count == 0)
        {
            <div class="d-flex justify-content-center my-5">

                <div class="card">
                    <h5 class="card-header"></h5>
                    <div class="card-body">

                        <p class="card-text">Nenhuma avaliação feita ainda.</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-flex">

        <div class="card col-12 text-center text-uppercase d-flex p-1">
            <div class="d-flex justify-content-center">
                <a asp-action="Create" asp-controller="AvaliacaoEspecialistas" asp-route-id="Modal.IdEspecialista" class="btn btn-primary col-6">Avaliar</a>
            </div>
        </div>

    </div>

</div>

