@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav col-12 col-md-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var fotoUser = "default.jpg";
        
        if(user == null)
        {
            
        }else

        if(user == null)
        {
            
        }else

        if (user.Foto != null)
        {
            fotoUser = user.Foto;
        }

        <li class="d-flex d-md-none col text-start m-3 ">
            <a class="d-flex text-black align-items-center " asp-area="Identity" asp-page="/Account/Manage/Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>

                <span class="fw-bold text-secondary h6 mb-0 ms-2">@user.UserName</span>
            </a>
        </li>

        <li class="d-flex d-md-none col text-start m-3 ">
            <a class="d-flex text-black align-items-center " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right ms-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>

                <span class="fw-bold text-secondary h6 mb-0 ms-2">Sair</span>
            </a>
        </li>
        

        <!-- Button trigger modal -->
        <button type="button" class="btn d-none d-md-block" data-bs-toggle="modal" data-bs-target="#perfilModal">

            <img src="~/img/@fotoUser" alt="Foto Usuario" class="rounded-circle me-1" style="width: 4vh; height: 4vh; object-fit: cover;" />

            <span class="fw-bold text-secondary">@user.UserName</span>

        </button>
       

        <!-- First Modal -->
        <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-header border-0 justify-content-center">
                        <!-- Image button inside the first modal -->
                        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#imgUserModal" data-bs-dismiss="modal">
                            <img src="~/img/@fotoUser" alt="Foto do Usuario" class="rounded-circle" style="width: 24vh; height: 24vh; object-fit: cover;" />
                        </button>
                    </div>
                    <div>
                        <span>Nome:</span>
                        <span>@user.</span>
                    </div>
                    <div>
                        <span>Email:</span>
                        <span></span>
                    </div>
                    <div>
                        <span>Cargo:</span>
                        <span></span>
                    </div>
                    <div class="modal-footer border-0 justify-content-center d-flex flex-column">
                        <button type="button" class="btn btn-primary px-5">
                            <a class="nav-link text-white m-0 p-0" asp-area="Identity" asp-page="/Account/Manage/Index">Visitar Perfil</a>
                        </button>

                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="btn">Sair</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Modal for Larger Image -->
        <div class="modal fade" id="imgUserModal" tabindex="-1" aria-labelledby="imgUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-transparent border-0">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                        <img src="~/img/@fotoUser" alt="Foto do Usuario Ampliada" style="max-width: 90vh; height: 90vh; object-fit: cover;" />
                    </div>
                </div>
            </div>
        </div>

 
    }
    else
    {
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li> *@

        <li class="d-none d-md-block">
            <a class="d-flex nav-link text-dark align-items-center" asp-area="Identity" asp-page="/Account/Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
                <span class="d-none h5 ms-1 mb-0 d-md-block">Sua Conta</span>
            </a>
        </li>

        <li class="d-flex d-md-none col text-start m-3">
            <a class="d-flex nav-link text-dark align-items-center" asp-area="Identity" asp-page="/Account/Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
                <span class="d-block h5 ms-1 mb-0 text-black">Sua Conta</span>
            </a>
        </li>
    }
</ul>
