@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["UseContainer"] = true;

}


<div class="d-flex col-12">
    <div class="d-flex flex-column col-3 justify-content-center align-items-center position-relative border border-1 border-dark shadow">

        <img id="profileImage" src="@(string.IsNullOrEmpty(Model.Input.Foto) ? Url.Content("~/img/default.jpg") : Url.Content($"~/img/{Model.Input.Foto}"))"
             class="rounded-circle mb-3"
             style="width: 24vh; height: 24vh; object-fit: cover; cursor:pointer;" />

        @if(Model.Input.Nome != null)
        {   
        <p class="mb-1">@Model.Input.Nome</p>
        }

        @if (Model.Input.Nascimento != null)
        {
        <p class="mb-1">@Model.Input.Nascimento</p>
        }

        @if (Model.Input.Email != null)
        {
        <p class="mb-1">@Model.Input.Email</p>
        }

        <!-- Ícone de três pontos no canto superior direito -->
        <div class="position-absolute top-0 end-0 m-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
            </svg>
        </div>

        <div class="d-flex flex-row justify-content-between mt-4">
            <div class="bg-light mx-3" style="width:50px; height:50px;">a</div>

            <div class="bg-light mx-3" style="width:50px; height:50px;">a</div>

            <div class="bg-light mx-3" style="width:50px; height:50px;">a</div>
        </div>
    </div>

    <div class="col-9 offset-1 border border-1 border-dark shadow p-2">

        <h2>@ViewData["Title"]</h2>
        <hr />

        <h3>Sobre</h3>
        <p>@Model.Input.Sobre</p>

        <h3>Vagas de empregos criadas</h3>

        <div class="d-flex flex-wrap justify-content-start mt-4">
        @foreach(var item in Model.Input.Vagas)
        {
                <div class="card col-5 me-4 mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@item.Cargo</h5>
                        <p class="card-text">@item.DescricaoVaga</p>
                    </div>
                    <div class="card-footer p-0">
                        <a class="btn btn-primary col-12" asp-action="VagasCandidatos" asp-controller="VagaEmpregos" asp-route-id="@item.IdVagaEmprego">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
                                <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791" />
                            </svg>
                        </a>
                    </div>
                </div>
        }
        </div>
    </div>
</div>


@* <h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Campo Foto -->
            <div class="form-group mb-3">
            <label asp-for="Input.Foto" class="control-label"></label>
                <input asp-for="Input.Foto" type="file" class="form-control" value="Input.Foto" name="imgUp" id="imgUp" style="display:none;"
                       accept=".jpg,.jpeg,.png, .gif" onchange="validateFileType()"/>
            <span asp-validation-for="Input.Foto" class="text-danger"></span>
            </div>

            <!-- Imagem -->
            <img id="profileImage" src="@(string.IsNullOrEmpty(Model.Input.Foto) ? Url.Content("~/img/default.jpg") : Url.Content($"~/img/{Model.Input.Foto}"))" class="rounded-circle mb-3" style="width: 24vh; height: 24vh; object-fit: cover; cursor:pointer;" />

            <!-- Campo Nome -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" class="form-control" placeholder="Nome" />
                <label asp-for="Input.Nome">Nome do Usuário</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>

            <!-- Campo Email -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <label asp-for="Input.Email">Email do Usuário</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Campo Email -->
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefone" />
                <label asp-for="Input.PhoneNumber">Telefone do Usuário</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <!-- Campo Sobre -->
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Sobre" class="form-control" placeholder="Sobre"></textarea>
                <label asp-for="Input.Sobre">Sobre o Usuário</label>
                <span asp-validation-for="Input.Sobre" class="text-danger"></span>
            </div>

            <!-- Campo TipoUsuario -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Tipo" class="form-control" placeholder="Tipo do Usuario" disabled />
                <label asp-for="Input.Tipo">Tipo de Usuário</label>
                <span asp-validation-for="Input.Tipo" class="text-danger"></span>
            </div>

            <!-- Campo Data de Nascimento -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Nascimento" class="form-control" type="date" placeholder="Data de Nascimento" />
                <label asp-for="Input.Nascimento">Data de Nascimento</label>
                <span asp-validation-for="Input.Nascimento" class="text-danger"></span>
            </div>

            <!-- Campo Habilidades -->
            <div class="form-floating mb-3" id="habilidades-container">
                @for (int i = 0; i < Model.Input.Habilidades.Count; i++)
                {
                    <div class="habilidade-item">
                        <input asp-for="Input.Habilidades[i]" class="form-control mb-3" placeholder="Habilidade @i" id="campoHabilidade-@i" />
                        <button type="button" class="btn btn-danger" onclick="removeHabilidade(this)">Remover</button>
                    </div>
                }
            </div>

            <!-- Botão para adicionar nova habilidade -->
            <button type="button" class="btn btn-primary" id="addHabilidadeBtn">Adicionar Habilidade</button>


            <!-- Campo Objetivos -->
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Objetivos" class="form-control" placeholder="Objetivos"></textarea>
                <label asp-for="Input.Objetivos">Objetivos Profissionais</label>
                <span asp-validation-for="Input.Objetivos" class="text-danger"></span>
            </div>

            <!-- Campo Jornalista -->
            <div class="form-check mb-3">
                <input asp-for="Input.Jornalista" class="form-check-input" type="checkbox" value="True" disabled />
                <label asp-for="Input.Jornalista" class="form-check-label">É Jornalista?</label>
                <span asp-validation-for="Input.Jornalista" class="text-danger"></span>
            </div>

            <!-- Campo CPF -->
            <div class="form-floating mb-3">
                <input asp-for="Input.CPF" class="form-control" placeholder="CPF" />
                <label asp-for="Input.CPF">CPF</label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>

            <!-- Campo CNPJ -->
            <div class="form-floating mb-3">
                <input asp-for="Input.CNPJ" class="form-control" placeholder="CNPJ" />
                <label asp-for="Input.CNPJ">CNPJ</label>
                <span asp-validation-for="Input.CNPJ" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

<!-- JavaScript para o clique na imagem -->
<script>
    // Ao clicar na imagem, abre o campo de upload
    document.getElementById("profileImage").onclick = function () {
        document.getElementById("imgUp").click();
    };

    // Quando uma nova imagem for selecionada, atualiza a visualização da imagem
    document.getElementById("imgUp").onchange = function (event) {
        const [file] = event.target.files;
        if (file) {
            // Valida o tipo de arquivo antes de atualizar a imagem
            var fileName = event.target.value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();

            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                document.getElementById("profileImage").src = URL.createObjectURL(file);
            } else {
                alert("Only jpg/jpeg and png files are allowed!");
                // Limpa o campo de upload
                document.getElementById("imgUp").value = "";
            }
        }
    };
</script>   
    
<script>
    // Função para remover uma habilidade
    function removeHabilidade(button) {
        var habilidadeItem = button.closest('.habilidade-item');
        habilidadeItem.remove();

        // Reindexa os campos de habilidades restantes
        var habilidades = document.querySelectorAll('#habilidades-container .habilidade-item');
        habilidades.forEach((item, index) => {
            var input = item.querySelector('input');
            var button = item.querySelector('button');
            input.setAttribute('id', 'campoHabilidade-' + index);
            input.setAttribute('name', 'Input.Habilidades[' + index + ']');
            button.setAttribute('onclick', 'removeHabilidade(this)');
        });
    }

    // Função para adicionar uma nova habilidade
    document.getElementById('addHabilidadeBtn').addEventListener('click', function () {
        var habilidadesContainer = document.getElementById('habilidades-container');

        // Contador para gerar novos ids para os campos de habilidades
        var newIndex = habilidadesContainer.getElementsByClassName('habilidade-item').length;

        var newHabilidadeDiv = document.createElement('div');
        newHabilidadeDiv.classList.add('habilidade-item');
        newHabilidadeDiv.innerHTML = `
                    <input name="Input.Habilidades[${newIndex}]" class="form-control mb-3" placeholder="Habilidade ${newIndex}" id="campoHabilidade-${newIndex}" />
                    <button type="button" class="btn btn-danger" onclick="removeHabilidade(this)">Remover</button>
                `;

        habilidadesContainer.appendChild(newHabilidadeDiv);
    });
</script> *@