@model IEnumerable<WebSiteVozesUnidas.Models.VagaEmprego>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="">
    @foreach (var item in Model)
    {
        <div class="d-flex border mb-5 shadow p-2 rounded col-6 m-auto">
            <div>
                <h2 class="text-primary">@item.Cargo</h2>
                <h6>NOME DA EMPRESA</h6>
                <div class="d-flex">
                    <p class="fw-bold m-0">Média Salarial:</p>
                    <p class="px-1 m-0">R$ @item.Salario</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold m-0">@item.NumeroVagas Vagas em:</p>
                    <p class="px-1 m-0">@item.Estado-@item.Cidade</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold m-0">Publicado em: @item.Publicacao</p>
                </div>

                <p>RegimeContratacao</p>
                <p>@item.RegimeContratacao</p>
                <p>DescricaoVaga</p>
                <p>@item.DescricaoVaga</p>
                <p>Publicacao</p>
                <p>@item.Publicacao</p>
                <p>NumeroVagas</p>
                <p></p>
                <p>Beneficios</p>
                <p>@item.Beneficios</p>
                <p>Cidade</p>
                <p>@item.Cidade</p>
                <p>Estado</p>
                <p>@item.Estado</p>
            </div>
        </div>
    }
</div>