@model IEnumerable<WebSiteVozesUnidas.Models.CandidatoVaga>

@{
    ViewData["Title"] = "VagasCandidatos";
}

<div class="d-flex">

    @foreach (var item in Model)
    {
        <div class="d-flex flex-column rounded shadow border border-dark border-2 col-3">

            <img src="~/img/@item.Usuario.Foto" class="border"/>

            <p class="fw-bold mb-1">Nome: <span class="fw-normal">@item.Usuario.UserName</span></p>
            <p class="fw-bold mb-1">Estado: <span class="fw-normal">@item.Usuario.Estado</span></p>
            <p class="fw-bold mb-1">Cidade: <span class="fw-normal">@item.Usuario.Cidade</span></p>
            <p class="fw-bold mb-1">Portfólio: <span class="fw-normal"><a href="@item.Usuario.Portifolio" target="_blank">@item.Usuario.Portifolio</a></span></p>

      

            <a class="btn btn-success rounded-0" asp-action="PerfilUsuario" asp-controller="Home" asp-route-id="@item.UsuarioId">Ver Mais</a>
        </div>
    }

    @if (Model.Count() == 0)
    {
        <div class="card col-12 p-3 border text-black text-decoration-none my-5">

            <div class="d-flex justify-content-center">


                <div class="card-body col-12 p-0 ms-3 d-flex flex-column justify-content-center">

                    <h3 class="card-title text-center text-uppercase fw-light">Parece que ninguem se candidatou para essa vaga ainda, tente esperar um pouco mais!</h3>


                </div>
            </div>

        </div>
    }
</div>
