@model IEnumerable<WebSiteVozesUnidas.Models.VagaEmprego>

@{
    ViewData["Title"] = "VagasCandidatos";
}

<h1>VagasCandidatos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioExpediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegimeContratacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoVaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalTrabalho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioExpediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegimeContratacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoVaga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalTrabalho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVagaEmprego">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVagaEmprego">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVagaEmprego">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
