@model IEnumerable<WebSiteVozesUnidas.Models.CandidatoVaga>

@{
    ViewData["Title"] = "VagasCandidatos";
}

<div class="d-flex">

    @foreach (var item in Model)
    {
        <div class="d-flex flex-column rounded shadow border border-dark border-2 col-3">

            <img src="~/img/@item.Usuario.Foto" class="border"/>

            <p class="fw-bold mb-1">Nome: <span class="fw-normal">@item.Usuario.UserName</span></p>
            <p class="fw-bold mb-1">Estado: <span class="fw-normal">@item.Usuario.Estado</span></p>
            <p class="fw-bold mb-1">Cidade: <span class="fw-normal">@item.Usuario.Cidade</span></p>
            <p class="fw-bold mb-1">Portfólio: <span class="fw-normal"><a href="@item.Usuario.Portifolio" target="_blank">@item.Usuario.Portifolio</a></span></p>

      

            <button class="btn btn-success rounded-0">Ver Mais</button>
        </div>
    }
</div>
